// COLORS

$action-1: #2c5aa0;
$black: black;
$white: white;

// BREAKPOINTS

$mobile: 576px;
$mobile-plus: 768px;
$desktop: 1024px;
$desktop-plus: 1300px;
$desktop-large: 1600px;
$desktop-huge: 1900px;

$mobile-plus-height: 600px;
$desktop-height: 700px;
$desktop-plus-height: 900px;
$desktop-large-height: 1200px;
$desktop-huge-height: 1400px;

// RESPONSIVE MEASURES

$lobby-width-mobile: 156px;
$lobby-width-mobile-plus: 182px;
$lobby-width-desktop: 220px;
$lobby-width-desktop-plus: 260px;
$lobby-width-desktop-large: 280px;
$lobby-width-desktop-huge: 370px;

$lobby-height-mobile: 82px;
$lobby-height-mobile-plus: 104px;
$lobby-height-desktop: 114px;
$lobby-height-desktop-plus: 130px;
$lobby-height-desktop-large: 190px;
$lobby-height-desktop-huge: 250px;

// SPACINGS / OTHER

$stage-gap: 0px;
$lobby-peer-padding: 0px;

$stage-border-radius: 0px;
$lobby-border-radius: 0px;

$logo-control-size: 54px;
$control-size: 40px;
$lobby-control-size: 30px;

// MIXINS

@mixin fontBig() {
  font-size: 30px;
  line-height: 34px;

  @media (min-width: $mobile-plus) {
    font-size: 42px;
    line-height: 48px;
  }

  @media (min-width: $desktop) {
    font-size: 54px;
    line-height: 58px;
  }

  @media (min-width: $desktop-plus) {
    font-size: 60px;
    line-height: 68px;
  }

  @media (min-width: $desktop-large) {
    font-size: 68px;
    line-height: 74px;
  }
}

@mixin fontDefault() {
  font-size: 11px;
  // line-height: 34px;

  @media (min-width: $mobile-plus) {
    font-size: 13px;
    // line-height: 48px;
  }

  @media (min-width: $desktop) {
    font-size: 14px;
    // line-height: 58px;
  }

  @media (min-width: $desktop-plus) {
    font-size: 15px;
    // line-height: 68px;
  }

  @media (min-width: $desktop-large) {
    font-size: 16px;
    // line-height: 74px;
  }
}

@mixin fadeControl() {
  .fade-control-enter-active {
    transition: opacity 0.4s ease;
  }

  .fade-control-leave-active {
    transition: opacity 0.4s ease;
  }

  .fade-control-enter, .fade-control-leave-to {
    opacity: 0;
  }

  // .fade-control-move {
  //   transition: transform 1s;
  // }
}

@mixin knob() {
  border-radius: 50%;
  border: 0px solid $black;
  box-shadow: 1px 1px 4px $black;
  color: $black;
  background: $white;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  font-family: NotoSansSymbols2;
  user-select: none;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  &:focus {
    outline: none;
    opacity: 1;
    color: $action-1;
    box-shadow: 1px 1px 3px #555;
  }

  > * {
    display: inline-block;
  }
}